.navbar{
  
    margin-right: 70px;
    margin-left: 70px;
 }

 .btn{
 margin-top: 5px;
} 
.btnproducts{
    margin-top: 5px;
    border-color: bisque;
    margin-left: 10px;
    margin-right: 10px;   
}

.btn-outline-info{
    border-radius: 50%;
    border-color: white;
    
}


.price{
    margin-top: 5px;
    padding-top: 5px;
    padding-right: 8px;
}
.Hr {
    border-top: 1px solid #bbb;
    margin-bottom: 5px;
  color: black;
  }

.cart-img{
    width: 60px;
    height: 42.078;
}

.verticle{
    /* width:  1px;
    height: 100%;
border-top: 1px black;
    color: black; */
    border-left:   1px solid #bbb;
    height: 40px; 
  margin-left:10px ;
  margin-right: 5px;
  margin-top:0px ;
  margin-bottom: 0px;
    left: 50%; 
}
.card-body{
    padding-bottom:0px;
    position: relative;
}
.home{
    margin-top: 10px;
}
.futer{
padding-top: 10px;
margin-top: 10px;
}

.myButton {
	background-color:#31a34f;
	border-radius:42px;
	border:0px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:17px;
	padding:1px 9px;
	text-decoration:none;
    text-shadow:0px 1px 0px #31a34f;
    margin-top: 4px;
    
}
.myButton:hover {
	background-color:#31a34f;
}
.myButton:active {
	position:relative;
	top:1px;
}



.myButtondec {
	background-color:red;
	border-radius:50px;
	border:0px;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:Georgia;
	font-size:17px;
	padding:1px 9px;
	text-decoration:none;
    text-shadow:0px 1px 0px red;
    margin-top:4px;
}
.myButtondec:hover {
	background-color:red;
}
.myButtondec:active {
	position:relative;
	top:1px;
}